@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?quq6ma');
  src:  url('../fonts/icomoon.eot?quq6ma#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?quq6ma') format('truetype'),
    url('../fonts/icomoon.woff?quq6ma') format('woff'),
    url('../fonts/icomoon.svg?quq6ma#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alerts:before {
  content: "\e900";
  color: #8dabc4;
}
.icon-arrow:before {
  content: "\e901";
  color: #a8c6df;
}
.icon-case:before {
  content: "\e902";
  color: #8dabc4;
}
.icon-home:before {
  content: "\e903";
  color: #8dabc4;
}
.icon-message:before {
  content: "\e904";
  color: #8dabc4;
}
.icon-more-btn:before {
  content: "\e905";
  color: #a8c6df;
}
.icon-reports:before {
  content: "\e906";
  color: #8dabc4;
}
.icon-serch:before {
  content: "\e907";
  color: #c5d9e8;
}
.icon-setting:before {
  content: "\e908";
  color: #a8c6df;
}
.icon-sort:before {
  content: "\e909";
  color: #c5d9e8;
}
.icon-supervisor:before {
  content: "\e90a";
  color: #8dabc4;
}
